
body {
    font-style: italic;
    color: blue;
   
  
}

footer {
    font-size: 15px;
    display: inline-block;
    justify-content: space-between;
     border: 2px solid #48cae4;
     border-radius: 10px;
    width: 100%;
    height:20vh;
   margin-top: 30px;
    box-shadow: 0px 5px 10px #48cae4;
}


header {
    width: 100%;
    height: 10vh;
}

.navbar {
     box-shadow: 0px 5px 10px #48cae4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 8vh;
    width: 98%;
    border: 2px solid #48cae4;
    border-radius: 10px;
    
}
.navbar:hover {
     box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    transition-duration: 2s;
    
}
a{
    font: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow:  0px 5px 10px #48cae4;;
}
#com {
     text-decoration: underline;
     text-transform: capitalize;
}
.main {
    
    display:inline-flex;
justify-content: center;
    width: 100vw;
    height: 80vh;
    
}

.content {
    font-size: 13px;
    width: 40%;
    height: 25%;
    position:absolute;
    top: 80px;
    left: 56vw;
    border: 2px solid #48cae4;
    border-radius: 10px;
    display: inline-block;
   justify-content: center;
    padding: 5px;
     box-shadow: 0px 5px 10px #48cae4;
}
.content:hover{
    box-shadow: 0px 5px 10px #48cae4;
      transform: translateY(3px);
    transition-duration: 2s;
}

.content2 {
    font-size: 15px;
     width: 30%;
     height: 50%;
     border: 2px solid #48cae4;
     border-radius: 10px;
     padding: 10px;
     position: absolute;
     top: 250px;
     left: 65vw;  
      box-shadow: 0px 5px 10px #48cae4;  
}
.content2:hover{
    box-shadow: 0px 5px 10px #48cae4;
      transform: translateY(3px);
    transition-duration: 2s;
}

.content3 {
    font-size: 15px;
    position:absolute;
    top: 80px;
    left: 10px;
   border: 2px solid #48cae4;
   border-radius: 10px;
   width: 50%;
   height: 80%;
   text-align: center;
    box-shadow: 0px 5px 10px #48cae4;
}
.content3:hover{
    box-shadow: 0px 5px 10px #48cae4;
      transform: translateY(3px);
    transition-duration: 2s;
}
.box {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.box1 {
    height: 150px;
    width: 120px;
    border: 1px solid #48cae4;
    border-radius: 5px;
     box-shadow: 0px 5px 10px #48cae4;
     text-align:justify;
    background-image: url("Paris_France.webp");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}
.box2 {
    text-align: justify;
    height: 150px;
    width: 120px;
    border: 1px solid #48cae4;
    border-radius: 5px;
     box-shadow: 0px 5px 10px #48cae4;
    background-image: url("egypt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box3 {
    text-align: justify;
    height: 150px;
    width: 120px;
    border: 1px solid #48cae4;
    border-radius: 5px;
     box-shadow: 0px 5px 10px #48cae4;
    background-image: url("thailand.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box4 {
    text-align: justify;
    height: 150px;
    width: 120px;
    border: 1px solid #48cae4;
    border-radius: 5px;
     box-shadow: 0px 5px 10px #48cae4;
    background-image: url("tajmahal.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

}
