*{

    background-color:#d8f3dc;
    
}
#container{
    
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100vw;
    background-color: #e9ecef;
    border: 2px solid black;
    border-radius: 10px;

}
h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1b4332;
    font: bold;
}
#box1{
    
    height: 250px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
     display: inline-block;
     position: relative;
     margin: 40px;
     border-radius: 7px;
     box-shadow: 0px 30px 50px rgba(0,0,0,0.5); 
     transition: 0.3s ease; 
}
#box1 img {
    max-width: 100px;
    margin-top: 10px;
}
#box1:hover{
    transform: translate3d(20px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#box2{
    height: 250px;
    width: 300px;
     text-align: center;
    border: 2px solid black;
     display: inline-block;
     position: relative;
     margin: 70px;
      border-radius: 7px;
       box-shadow: 0px 30px 50px rgba(0,0,0,0.5);
}
#box2 img {
    max-width: 100px;
    margin-top: 10px;
}
#box2:hover{
    transform: translate3d(20px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
#box3{
    height: 250px;
    width: 300px;
     text-align: center;
    border: 2px solid black;
     display: inline-block;
     position: relative;
     margin-left: 80px;
     border-radius: 7px;
      box-shadow: 0px 30px 50px rgba(0,0,0,0.5);
}
#box3 img {
    max-width: 100px;
    margin-top: 10px;
}
#box3:hover{
    transform: translate3d(20px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
  caption{
    font-size: 20px;
    font: bold;
    color: green;
    margin: 30px;
    font-display: block;
  }

.table{
    border-collapse: separate;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 60px auto;  
    border: 2px solid green;
    border-radius: 5px;
    padding: 30px;
}
th{
     border: 1px solid black;
     padding: 10px;
     text-align: center;
     background-color: green;
     border-radius: 5px;
}
td{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(200, 244, 200);
}
button {
    height: 30px;
    width: 130px;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    background-color: skyblue;
    border: 1px solid salmon;
    color: black;
}
button:hover{
    background-color:  rgb(105, 237, 110);
    cursor: pointer;
}
