
   body {
    font-style: italic;
    color: blue;
}

header {
    width: 100%;
    height: 10vh;
}
.navbar {
     box-shadow: 0px 5px 10px #48cae4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    height: 8vh;
    width: 98%;
    margin-top: 15px;
    border: 2px solid #48cae4;
    border-radius: 10px;
    
}
.navbar:hover {
     box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    transition-duration: 2s;
    
}
a{
    font: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow:  0px 5px 10px #48cae4;;
}
#com {
     text-decoration: underline;
     text-transform: capitalize;
}
.main {
    position: absolute;
    top: 15vh;
    width: 90vw;
    height: 75vh;
    display: inline-block;
   border: 4px solid #48cae4;
    border-radius: 10px;
      box-shadow: 0px 5px 10px #48cae4;
}
.main:hover{
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
}
.contact_us {
    font: 20px;
    position: relative;
    top: 10px;
    left: 4vw;
    width: 500px;
    height: 400px;
    padding: 10px;
   
    color: blue;
    display: inline-block;
     border: 2px solid #48cae4;
     border-radius: 10px;  
     box-shadow: 0px 5px 10px #48cae4;
}
h1{
    font: bold;
    font-size: 25px;
    text-align: center;
    text-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);;
    margin-bottom: 30px;
}
.contact_us:hover {
     box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    transition-duration: 2s;  
}
.follow_us {
    font-size: 15px;
    width: 150px;
    height: 250px;
     color: blue;
    display: inline-block;
     border: 2px solid #48cae4;
     border-radius: 10px;
     position: relative;
     left: 35vw;
     bottom: 10vh;
   text-align: center;
    box-shadow: 0px 5px 10px #48cae4;
}
.follow_us:hover{
     box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    transition-duration: 2s;   
}
input {
    font-size: 15px;
    height: 20px;
    width: 90%;
     border: 2px solid #48cae4;
    border-radius: 5px;
    margin: 5px;
}
textarea {
     border: 2px solid #48cae4;
     border-radius: 5px;
    font-size: 10px;
    height: 50px;
    width: 90%;
}
button {
    margin-top: 10px;
    margin-left: 15vw;
    text-align: center;
    background-color: #48cae4;
    color: blue;
     border: 2px solid #48cae4;
     border-radius: 5px;
}
button:hover {
    cursor:pointer;
     box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
footer {
    font-size: 15px;
    display: inline-block;
    justify-content: space-between;
     border: 2px solid #48cae4;
     border-radius: 10px;
    width: 100%;
    height:20vh;
   margin-top: 30px;
    box-shadow: 0px 5px 10px #48cae4;
    position:absolute;
    top: 90vh;
}