*{
    text-align: center;


  
}
form{
    margin: 40px;
    background-color: bl
}
#info{
      text-align:left;
        background-color: #FDBCB4;
        color:#FF3800;
        font-size: 20px;
    height: 500px;
    width: 400px;
   margin-left: 350px;
    border: 5px solid red ;
    border-radius: 15px;
    
}
div{
    margin: 20px;
    text-align: left;

}
#bar{
    height: 60px;
    text-align: left;
    background-color: blue;
}
h1{
    color: rgb(34, 26, 189);
    background-color: #FFC0CB;
    width: 600px;
    font-size: 50px;
    margin-top: 40px;
    margin-left: 250px;
    text-decoration: underline;
}

h2{
    color: green;
    font-size: 30px;
    margin-bottom: 20px;
}
a{
    color: white;
    font-family: emoji;
    
}
input{
    width: 300px;
    height: 25px;
}
body{
    justify-content: center;
    
}